# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# macOS
.DS_Store

# Local artifacts
screenshots/
